<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Borders</h1>
    <table border="1">
        <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>

        </tr>
        <thead>
            <tbody>
                {% for border in borders %}
                <tr> 
                    <td> {{ border.name }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
            {%endfor%}
            </tbody>

        </thead>
    </table>

</body>
</html>